<header>
  <div class="wrapper header-inner">
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav class="main-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/research.html' | relative_url }}">Research</a></li>
        <li><a href="{{ '/teaching.html' | relative_url }}">Teaching</a></li>
        <li><a href="{{ '/personal.html' | relative_url }}">Personal</a></li>
        <li><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
