<aside class="sidebar">
  <div class="sidebar-inner">
    <h1 class="sidebar-name">Xi Li</h1>
    <p class="sidebar-affil">Associate Professor of Logic<br>Central South University</p>

    <nav class="sidebar-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/research.html' | relative_url }}">Research</a></li>
        <li><a href="{{ '/teaching.html' | relative_url }}">Teaching</a></li>
        <li><a href="{{ '/personal.html' | relative_url }}">Personal</a></li>
        <li><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
      </ul>
    </nav>

    <div class="sidebar-social">
      <b>Social</b>
      <div class="social-row">
        <a href="mailto:xieshenlixi@163.com"><i class="fas fa-envelope"></i> Email</a>
        <a href="http://github.com/rickylixi"><i class="fab fa-github"></i> GitHub</a>
        <a href="http://x.com/pkulixi"><i class="fab fa-x-twitter"></i> X</a>
        <a href="https://www.zhihu.com/people/pkulixi"><i class="fab fa-zhihu"></i> Zhihu</a>
      </div>
    </div>
  </div>
</aside>
