---
layout: default
---
<article class="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</article>

<!-- Giscus Comments - https://giscus.app/ -->
<script src="https://giscus.app/client.js"
        data-repo="rickylixi/rickylixi.github.io"
        data-repo-id="R_kgDOP6yAsA"
        data-category="Announcements"
        data-category-id="DIC_kwDOP6yAsM4CwIgU"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
