---
layout: default
---
<article class="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</article>

<!-- Giscus Comments - https://giscus.app/ -->
<script src="https://giscus.app/client.js"
        data-repo="rickylixi/rickylixi.github.io"
        data-repo-id="R_kgDOJz31_w"
        data-category="General Discussion"
        data-category-id="DIC_kwDOJz31_M4CAg3j"
        data-mapping="pathname"
        data-strict-component="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred-color-scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
